@using Microsoft.AspNetCore.Identity
@model PracticEPAM.ViewModels.ReviewsPage
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

<h1 id="name" class="text-center"> @Model.Product.Name</h1>
<p class="text-center">@Model.Product.Description</p>
<div class="container mb-4">
    <div class="row">
        <div class="col-9">
            <div style="width: auto; height: auto;">
                <img object-fit="cover" style="max-width: 100%; max-height: 400px; display: inline; float: right" src="@String.Format(" data:image /gif;base64,{0}",Convert.ToBase64String(@Model.Product.Photo))" alt="im faded">
            </div>
        </div>
        <div class="col-3 d-block float-end">
            <div>Категория: @Model.Product.IdCategoriesNavigation.Category1</div>
        </div>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{

    <a class="btn btn-primary d-block" asp-controller="Home" asp-action="Create" asp-route-id="@Model.Product.IdProduct">Создать отзыв</a>
    <p class="mt-2 text-center">Или смотреть отзывы других пользователей</p>
}
@if (!SignInManager.IsSignedIn(User))
{
    <a class="btn btn-primary d-block" asp-area="Identity" asp-page="/Account/Login">Создать отзыв</a>
    <p class="mt-2 text-center">Или смотреть отзывы других пользователей</p>
}
<partial name="ReviewsPartial" />

