@model PracticEPAM.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<h3>Вы действительно хотите удалить этот объект</h3>
<div>
    <div>
        <h1 id="name" class="text-center">@Html.DisplayFor(model => model.Name)</h1>
        <p class="text-center">@Html.DisplayFor(model => model.Description)</p>
        <div class="container mb-4">
            <div class="row">
                <div class="col-9">
                    <div style="width: auto; height: auto;">
                        <img object-fit="cover" style="max-width: 100%; max-height: 400px; display: inline; float: right" src="@String.Format(" data:image /gif;base64,{0}",Convert.ToBase64String(@Model.IdProductNavigation.Photo))" alt="im faded">
                    </div>
                </div>
                <div class="col-3 d-block float-end">
                    <div>Обозреваемый объект: @Model.IdProductNavigation.Name</div>
                </div>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdReview" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a class="btn btn-secondary float-end" href='javascript: history.length > 1 ? history.go(-1): null' с>Вернуться назад</a>
    </form>
</div>
