@model IEnumerable<PracticEPAM.Models.Review>

@{
    ViewData["Title"] = "Отзывы";
}

<h1>Отзывы <a asp-action="Create" class="btn btn-primary">Создать новый</a></h1>

@foreach (var item in Model) {
<div class="row mb-2">
    <div class="col-4">
        @{
            <img object-fit="cover" class="myImg" src="@String.Format(" data:image /gif;base64,{0}",Convert.ToBase64String(item.IdProductNavigation.Photo))" alt="im faded">
        }
    </div>
    <div class=" col-8">
        <div style="font-size: 28px;">@Html.DisplayFor(modelItem => item.Name)</div>
        <div style="font-size: 12px;">@Html.DisplayFor(modelItem => item.IdProductNavigation.Name)</div>
        <p style="height:44px; overflow: hidden; font-size: 15px;">@Html.DisplayFor(modelItem => item.Description)</p>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdReview">Изменить</a>
            <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.IdReview">Детали</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdReview">Удалить</a>
    </div>
</div>
}