@model IEnumerable<PracticEPAM.Models.Product>

@{
    ViewData["Title"] = "Статьи";
}

<h1>Статьи <a asp-action="Create" class="btn btn-primary">Создать новую</a></h1>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Фото</th>
            <th>Описание</th>
            <th>Лайки</th>
            <th>Дизлайки</th>
            <th>ID категории</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    <img object-fit="cover" class="myImg" src="@String.Format(" data:image /gif;base64,{0}",Convert.ToBase64String(item.Photo))" alt="im faded">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DislikesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriesNavigation.IdCategories)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduct">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduct">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduct">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
